_build/*
external/*
RTE/*

components/ble/*
components/ant/*
components/nfc/*
components/device/*
components/drivers_ext/*
components/drivers_nrf/*
components/libraries/*
components/proprietary_rf/*
components/serialization/*
components/softdevice/*
components/toolchain/arm/*
components/toolchain/cmsis/*
components/toolchain/gcc/*
components/toolchain/iar/*
components/toolchain/system*
components/sdk_validation.h
components/boards/*

!components/boards/custom_board.h
!components/toolchain/gcc/Makefile.windows

JLinkLog.txt
JLinkSettings.ini

*.uvguix*

